---
const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-CN" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <!-- 暗色模式防闪烁脚本 -->
    <script is:inline>
      if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
	</head>
	<body>
		<slot />
    <!-- 主题切换逻辑 -->
    <script>
      const themeToggleBtn = document.getElementById('theme-toggle');
      themeToggleBtn?.addEventListener('click', () => {
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('theme', 'light');
        } else {
          document.documentElement.classList.add('dark');
          localStorage.setItem('theme', 'dark');
        }
      });
    </script>
	</body>
</html>